* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-shape-divider-bottom-1693390377 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1693390377 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 127px;
}

.custom-shape-divider-bottom-1693390377 .shape-fill {
    fill: #FFFFFF;
}